<footer class="post__subscribe">
  <h4 class="post__section-title">Get notified</h4>

	<form style="padding:3px;text-align:center;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=SinishaStojchevski', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
		<input type="text" name="email" placeholder="johndoe@example.com"/>
		<input type="hidden" value="SinishaStojchevski" name="uri"/>
		<input type="hidden" name="loc" value="en_US"/>
		<input type="submit" value="Subscribe" />
		
		</form>

</footer>
